body {
  margin: 0;
  font-family: Arial, Helvetica, "Momo Signature", cursive, sans-serif;
  background: linear-gradient(120deg, #151515 0%, #a5602b 50%);
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
html {
  background-color: #151515;
}

.logo p {
  font-family: "Momo Signature", cursive;
  font-style: normal;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}
body.loaded {
  opacity: 1;
  transform: translateY(0);
}
header {
  background: linear-gradient(120deg, #151515 0%, #361d0a 50%);
  color: #fff;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
main {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}
.content {
  max-width: 1200px;
  width: 110%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
h2 {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 15px;
}
p {
  line-height: 1.6;
  font-size: 16px;
}
ul {
  padding-left: 20px;
}
a {
  color: #ff8800;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
}

.footer {
  background-color: #000;
  padding: 40px 20px;
  margin-top: 310px;
}

.footer_logo p {
  font-family: "Momo Signature", cursive;

  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 150px;
  margin: 10px;
}

.footer-column h4 {
  font-weight: bold;
  font-size: 12px;
  color: #b3b3b3;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer-social div {
  width: 36px;
  height: 36px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 40px;
  font-size: 12px;
  color: #b3b3b3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-bottom span {
  margin: 5px 10px 0 0;
}


@media (max-width: 768px) {
  .content {
    display: block;
  }
}