@use "mixins.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--body-background-gradient);

    font-family: var(--font-family);
    color: var(--white-color);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  html {
    background-color: var(--html-background-color);
  }


.logo {
  @include mixins.headerLogoStyle;
}
header {
  background: var(--header-background-gradient);

  color: var(--white-color);
  line-height: 1.6;

  padding: 23px 40px;

  @include mixins.flexSettingsBetween;
}
header nav a  {
  color: var(--white-color);
  text-decoration: none;
  
  margin-left: 20px;
}
  .ad-section {
    @include mixins.flexSettingsCenter;
    flex-direction: column;
    flex: 1;

    padding: 60px 20px;
    text-align: center;

    animation: fadeIn 0.8s ease forwards;
  }

  .ad-section h1 {
    @include mixins.gradientText;
    font-size: 2.3rem;
    color: var(--white-color);
    margin-bottom: 20px;
  }

  .ad-section p {
    color: var(--grey-color);
    font-size: 1.1rem;
    line-height: 1.6;

    max-width: 700px;
    margin-bottom: 35px;
  }

  .ad-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

    margin-bottom: 40px;
  }

  .ad-card {
    background: var(--card-background-color);
    border: var(--card-border);
    border-radius: 20px;

   @include mixins.flexSettingsCenter;
    flex-direction: column;
    
    padding: 40px 20px;
    max-width: 280px;
    transition: all 0.3s ease;
  }

  .ad-card:hover {
    border-color: var(--main-orange-color);
    box-shadow: 0 0 20px rgba(255,136,0,0.2);
    transform: translateY(-5px);
  }

  .ad-card h3 {
    color: var(--white-color);
    font-size: 1.3rem;

    margin-bottom: 10px;
  }

  .ad-card p {
    font-size: 0.95rem;
    color: var(--grey-color);
    line-height: 1.5;
  }

  .cta-btn {
    background: var(--white-color);
    border: none;
    border-radius: 30px;

    font-size: 16px;
    color: var(--black-color);
    font-weight: bold;
    cursor: pointer;

    padding: 14px 100px;

    transition: all 0.2s ease;
  }

  .cta-btn:hover {
    background: var(--btn-orange-hover);
    color: var(--white-color);
    transform: scale(1.05);
  }

  .alert-overlay{
    display: none; 

    justify-content: center; 
    align-items: center
  }

  .alert-box{
    background: var(--card-background-color);
    border: var(--card-border);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.152);

    text-align: center;
    padding: 35px 25px;
    animation: fadeIn 0.3s ease;
  }
 
  #closeAlertBtn{
    background: var(--main-orange-color);
    border: none;
    border-radius: 30px;

    color: var(--black-color);
    font-weight: bold;
    cursor: pointer;

    padding: 12px 35px;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @media (max-width: 768px) {
    .ad-card-container {
      flex-direction: column;
      align-items: center;
    }
  }

  