@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --font-family: "Helvetica Neue", Helvetica, Arial, "Segoe UI", "Inter",
    sans-serif;
  --logo-font-family: "Parisienne", cursive;
  --main-font: "Montserrat", sans-serif;
}
