.footer {
    background-color: #000;
    padding: 60px 20px;
    margin-top: 310px;
    height: 400px;
  }
  
  .footer_logo {
    font-family: "Momo Signature", cursive; ;

    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;

  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
  }

  .footer-column h4 {
    font-weight: bold;
    font-size: 12px;
    color: #b3b3b3;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-column ul li {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .footer-column ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

  .footer-social {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }

  .footer-social div {
    width: 36px;
    height: 36px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .footer-social div:hover {
    background-color: #ffffff49;
  }

  .footer-bottom {
    margin-top: 80px;
    font-size: 12px;
    color: #b3b3b3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-bottom span {
    margin: 5px 10px 0 0;
  }

  .telegram-icon{
    color: #fff;
    text-decoration: none;
   
}
.telegram-icon:hover{
    color: #ffffff49;
}
  
@media (max-width: 600px) {
  .footer{
    height: auto;
    padding: 40px 20px;
  }
}