.footer {
  background-color: var(--black-color);
  height: 300px;

  padding: 60px 20px;
  margin-top: 310px;
}

.footer_logo {
  font-family: var(--logo-font-family);

  font-size: 1.6rem;
  font-weight: bold;
  color: var(--white-color);
  
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  
  flex-wrap: wrap;

  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 150px;
  margin: 10px;
}

.footer-column h4 {
  color: var(--grey-color);
  font-size: 12px;
  font-weight: bold;

  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 14px;
}

.footer-social {
  color: var(--black-color);

  display: flex;
  gap: 15px;

  margin-top: 20px;
}

.footer-social div {
  background-color: var(--white-color);
  border-radius: 50%;

  font-size: 14px;
  cursor: pointer;

  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s ease;
}
.footer-social div:hover {
  background-color: #ffffff49;
}

.footer-bottom {
  font-size: 12px;
  color: var(--grey-color);

  margin-top: 80px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-bottom span {
  margin: 5px 10px 0 0;
}

.telegram-icon {
  color: var(--white-color);
  text-decoration: none;
}
.telegram-icon:hover {
  color: #ffffff49;
}

@media (max-width: 600px) {
  .footer {
    height: auto;
    padding: 40px 20px;
    margin-top: 185px;
  }
}

@media (max-width: 380px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    margin: 10px 0;
  }
}