body {
    font-family: "Segoe UI", sans-serif;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #151515, #a5602b 50%);
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    animation: fadeIn 1s ease-in-out;
}

html, body {
    background-color: #151515;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}
.logo {
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }
.faq-container {
    max-width: 800px;
    width: 90%;
    background: #ffffff1f;
    border-radius: 15px;
    padding: 30px;
    margin: 50px 5px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    color: #ffae0dc0;
    font-size: 2em;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #333;
    padding: 20px 0;
    cursor: pointer;
    transition: background 0.3s;
}

.faq-item:hover {
    background: #ffffff33;
}

.question {
    font-size: 1.2em;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    font-size: 1em;
    color: #bbb;
    padding-top: 10px;
    line-height: 1.5;
}

.faq-item.active .answer {
    max-height: 300px;
    opacity: 1;
}

.icon {
    color: #000000;
    font-weight: bold;
    transition: transform 0.3s;
}

.faq-item.active .icon {
    transform: rotate(45deg);
}

footer {
    text-align: center;
    padding: 15px;
    color: #000000;
    font-size: 0.9em;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .faq-container {
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    .question {
        font-size: 1em;
    }

    .answer {
        font-size: 0.9em;
    }
    .faq-container {
        margin: 20px 10px;
    }
}