/////////////  text Section /////////////
@mixin gradientText {
    background: linear-gradient(90deg, #fff, #ff7b00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  };

  @mixin gradientSubText{
    background: linear-gradient(90deg, #e9e7de, #ff4400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

///////////// flex Settings /////////////

  @mixin flexSettingsCenter{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin flexSettingsBetween{
    display: flex;
    justify-content: space-between;
  }


///////////////logo settnigs /////////////

 @mixin headerLogoStyle{
    font-family: var(--logo-font-family);
    font-size: 1.4rem;
    color: var(--white-color);
    font-style: normal;
    text-decoration: none;
  }

  @mixin logoStyle{
    font-family: var(--logo-font-family);
    font-size: 3.8rem;
    color: var(--white-color);
    font-style: normal;
    text-decoration: none;
  }




  // @include mixins.gradientText;
  // @include mixins.gradientSubText;

  // @include mixins.flexSettingsCenter;
  // @include mixins.flexSettingsBetween;

  // @include mixins.headerLogoStyle;
    // @include mixins.logoStyle;