//text Section
@mixin gradientText {
    background: linear-gradient(90deg, #fff, #ff7b00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  };

  @mixin gradientSubText{
    background: linear-gradient(90deg, #e9e7de, #ff4400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

////////////// flex Settings //////////////

  @mixin flexSettingsCenter{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin flexSettingsBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  // @include mixins.gradientText;
  // @include mixins.gradientSubText;

  // @include mixins.flexSettingsCenter;
  // @include mixins.flexSettingsBetween;