@use "mixins.scss";

.playlist-header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.playlists-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 200px;
}

.playlist-card {
  background: #f0f0f00d;
  border: var(--card-border);
  border-radius: 10px;

  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.playlist-header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
  padding-bottom: 10px;

  border-bottom: 1px solid #00000021;
}

.playlist-info {
  flex: 1;
}

.playlist-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white-color);

  margin-bottom: 4px;
}

.playlist-stats {
  font-size: 0.9rem;
  color: #999;
}

.playlist-tracks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.playlist-track-item {
  background: var(--item-background-color);
  border: var(--card-border);
  border-left: 5px solid #c4733179;
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 30px 10px;

  transition: 0.15s ease;
}

.playlist-track-item:hover {
  background: #b8b8b845;
}

.playlist-track-num {
  background: #ffffff1f;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  color: var(--white-color);
  font-size: 0.8rem;
  text-align: center;
  line-height: 30px;

  flex-shrink: 0;
}

.playlist-track-info {
  flex: 1;
  min-width: 0;
}

.playlist-track-title {
  font-weight: 500;
  color: #fdf2e9;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-track-artist {
  font-size: 0.85rem;
  color: #c3b4aa;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-track-duration {
  font-size: 0.85rem;
  color: #eae2e2;
  min-width: 45px;
  text-align: right;
}
