@use "mixins.scss";

body {
  font-family: var(--font-family);
  background: var(--body-background-gradient);
  color: var(--white-color);

  margin: 0;
  opacity: 0;

  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}

html {
  background-color: var(--html-background-color);
}

.logo {
  @include mixins.headerLogoStyle;
}

header {
  background: var(--header-background-gradient);
  color: var(--white-color);

  padding: 0px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: var(--white-color);
  text-decoration: none;

  margin-left: 20px;
  font-size: 15px;
}

main {
  @include mixins.flexSettingsCenter;

  min-height: 50vh;

  padding: 20px;
}

.support-box {
  background-color: var(--card-background-color);

  @include mixins.flexSettingsCenter;
  flex-direction: column;

  border: var(--card-border);
  border-radius: 10px;

  padding: 100px 5px;
  margin-bottom: 140px;

  width: 100%;
  max-width: 1500px;
}

.support-box h1 {
  @include mixins.gradientText;
  text-align: center;
  font-size: 2.1rem;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}

input,
textarea {
  background-color: #ffffff0b;
  color: var(--white-color);
  font-size: 15px;

  border: none;
  border-radius: 10px;
  resize: none;

  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--main-orange-color);
}

button {
  @include mixins.flexSettingsCenter;

  background-color: var(--white-color);
  font-size: 16px;
  color: var(--black-color);
  font-weight: bold;

  border: none;
  border-radius: 20px;

  width: 105%;
  padding: 12px;
  margin-top: 20px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--btn-orange-hover);
  color: var(--white-color);
}

.footer {
  font-size: 14px;
  text-align: center;
  
  padding: 15px;
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .support-box {
    padding: 20px 15px;
  }
  input,
  textarea {
    font-size: 16px;
    width: 315px;
    margin-top: 10px;
  }
  input {
    font-size: 16px;
  }
  button {
    width: 100%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
