body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #151515 0%, #a5602b 50%);
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}

html {
  background-color: #151515;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo p{
    font-family: "Momo Signature", cursive;
  font-style: normal;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}
.logo {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
}
header {
  background: linear-gradient(120deg, #151515 0%, #361d0a 50%);
  color: #fff;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-size: 22px;
  font-weight: bold;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 20px;
}

.support-box {
  background-color: #f0f0f00d;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
  border: 1px solid #ffffff0f;
}

.support-box h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 15px;
  background-color: #ffffff09;
  color: #fff;
}

input:focus,
textarea:focus {
  outline: 2px solid #ea7413;
}

button {
  color: #000;
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fb9f00f6;
}

.footer {
  text-align: center;
  background-color: #000;
  color: #b3b3b3;
  padding: 15px;
  font-size: 14px;
  margin-top: 0;
}
a {
    color: #c16713;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

