:root{
    --font-family: 'Helvetica Neue', Helvetica, Arial,"Segoe UI","Inter",sans-serif;
    --logo-font-family: 'Momo Signature', cursive;

    --main-orange-color: #ff8800;
    --grey-color: #ccc;
    --white-color:#fff;
    --black-color: #000;

    --body-background-gradient: linear-gradient(120deg, #151515 0%, #a5602b 50%);
    --html-background-color: #151515;
    --header-background-gradient: linear-gradient(120deg, #151515 0%, #361d0a 50%);
    
    --card-background-color: #f0f0f00d;
    --card-border: 1px solid #ffffff0f;

    --input-background: #0000002a;
    --btn-orange-hover: #e67600;
    --btn-grey-hover: #55555539;

    --item-background-color: #ffffff08;
    --items-hover-background-color: #b8b8b845;
}